* {
  font-family: Helvetica;
  box-sizing: border-box;
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: khaki;
  background-image: url("../images/pattern.jpeg");
  overflow: hidden;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: white;
}

h3 {
  font-size: 24px;
}

p {
  font-weight: normal;
}

img {
  width: 200px;
  height: 200px;
  padding: 30, 5;
}

a {
  color: blue;
  text-decoration: none;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}